# Environment variables
.env
.env.local

# Server
server/.venv/
server/venv/
server/__pycache__/
server/*.pyc
server/static/*.mp3
server/yolov8*.pt

# Client
client/node_modules/
client/.expo/
client/.expo-shared/
client/dist/
client/npm-debug.*
client/yarn-error.*
client/yarn.lock
client/package-lock.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

